/*********************************
Normalize CSS and general and 
common settings
*********************************/

html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
